*{
    color: darkred;
    text-align: center;
    background-color:white;
  
    padding: 40px;
}
.pp{
    border: 20px black ;
    color: palevioletred;
}
h1{
    border: 2px solid red;
    border-radius: 50px;
}